<input
    type="text"
    class="u-full-width"
    ng-model="$ctrl.nuevoIngrediente.nombre"
    ng-keyup="$ctrl.teclaPulsada($event)"
>
<table class="u-full-width">
    <thead>
    <tr>
        <th>Ingrediente</th>
        <th>Cantidad (gr)</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ingrediente in $ctrl.coleccion">
            <td>{{ingrediente.nombre}}</td>
            <td><input type="number" min="1" max="9999" ng-model="ingrediente.cantidad"> </td>
        </tr>
    </tbody>
</table>
