<div class="row">
    <div class="twelve columns">
        <!-- Filtro de recetas -->
        <input type="text" ng-model="$ctrl.filtroRecetas.nombre">

        <!-- Lista de recetas -->
        <table class="u-full-width">
            <tbody>
            <tr ng-repeat="receta in $ctrl.recetas | filter:$ctrl.filtroRecetas | orderBy:'nombre'">
                <td>
                    <img ng-src="{{ $ctrl.obtenerRutaImagen(receta.rutaImagen) }}"
                    width="60"
                    height="60">
                </td>
                <td>
                    <div>
                        {{ receta.nombre }}
                    </div>
                    <div>
                        <small>
                            {{ receta.ingredientes | ResumenIngredientes }}
                        </small>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <!--
        <ul>
            <li ng-repeat="receta in $ctrl.recetas">{{ receta.nombre }}</li>
        </ul>
        -->
    </div>
</div>
